.loading {
    animation: loadingPulse 3s ease-in-out infinite;
	background-image: radial-gradient(
		circle at -25% -25%,
		var(--primary-color),
		var(--primary-color) 85%,
		grey 95%,
		var(--primary-color) 100%,
		var(--primary-color)
	);
	/* background-position: 283px; */
}

@keyframes loadingPulse {
    from {
		background-position-x: 0px;
	}
	to {
		background-position-x: calc(100% + 0px);
	}
}