.create {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.create_panel {
    width: 50vw;
    min-height: 500px;
    max-height: 750px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 50px;
    padding: 50px;
    gap: 10px;
    background-color: var(--secondary-color);
}

.create_panel_title {
    margin: 0px;
}

.create_create_type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;

    height: min-content;
    border-radius: 30px;
    gap: 5px;
    padding: 5px;
    background-color: var(--primary-color);
}

.create_create_type_button {
    min-width: 100px;
    /* min-width: 200px; */
    border-radius: 25px;
    border: none;
    padding: 10px;
    background-color: var(--secondary-color);
    outline: none;
}

.create_create_type_button>h4 {
    margin: 0px;
    color: var(--text-color);
}

.create_create_type_button_selected {
    background-color: var(--accent-color);
}

.create_create_type_button_selected>h4 {
    color: var(--primary-color);
    transition: 250ms;
}

.create_create_type_button_selected:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    transform: translate(-0.2604vw, -0.2604vw);
    filter: drop-shadow(0.2604vw 0.2604vw var(--accent-color));
}

.create_create_type_button_selected:hover>h4 {
    color: var(--accent-color);
}

.create_task_list {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    background-color: var(--primary-color);
    padding: 5px;
    gap: 5px;
}

.create_task_list_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 25px;
    padding: 5px;
    gap: 5px;
}

.create_task_list_item_icon_text {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25px;
    font-size: 28.48px;
    transform: none;
    transition: 250ms;
}

.create_task_list_item_icon_text_selected {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25px;
    font-size: 28.48px;
    transform: rotate(90deg);
    transition: 250ms;
}

.create_task_list_item_icon {
    background-color: #00000000;
    border: none;
    outline: none;
}

.create_task_list_item_icon:hover {
    filter: none;
    transform: none;
    color: var(--accent-color)
}

.create_task_list_item_icon_selected:hover {
    filter: none;
    transform: rotate(90deg);
    color: var(--accent-color)
}

.create_task_list_item_icon:hover>.create_task_list_item_icon_text {
    transform: none;
}




.create_actions {
    display: flex;
    /* justify-content: flex-end; */
    /* align-items: center; */
    width: 100%;

    height: min-content;
    border-radius: 30px;
    /* gap: max-content; */
    padding: 5px;
    background-color: var(--primary-color);
}

.create_action_button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    border-radius: 25px;
    border: none;
    padding: 10px;
    background-color: var(--secondary-color);
    outline: none;
}

.create_action_button>h4 {
    margin: 0px;
    /* color: var(--text-color); */
}

.flex_start {
    justify-self: start;
    justify-self: flex-start;
    justify-self: left;
}

.flex_end {
    justify-self: end;
    justify-self: right;
    justify-self: self-end;
}