.main {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
}

.card {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	/* align-items: center; */

	background-color: var(--secondary-color);
	/* border-radius: 50px; */
	border-radius: 2.604dvw;
	/* padding-inline: 68px; */
	padding-inline: 3.541dvw;
}

.card>span {
	color: var(--primary-color);
	/* font-variation-settings: 
        'FILL' 0,
		'wght' 400,
        'GRAD' 0,
        'opsz' 48; */
}

.card_big {
	height: 39.06dvw;

	aspect-ratio: 2 / 3;
	/* margin-inline: 100px; */
	margin-inline: 5.208dvw;
	justify-items: flex-start;
}

.card_big>span {
	/* top: -10px; */
	/* font-size: 225px; */
	font-size: 11.71dvw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card_text_main {
	color: var(--accent-color);
	font-size: 2.7325dvw;
	/* font-size: 40pt; */
	/* margin-top: -10px; */
	margin: 0dvw;
	margin-bottom: 0.2604dvw;
	white-space: nowrap;
	overflow: hidden;
	width: 18.88dvw;
	overflow: visible;
	display: flex;
	justify-content: center;
	align-items: center;
	/* text-overflow: ellipsis; */
}

.card_input {
	width: 18.88dvw;
	/* height: 75px; */
	height: 3.906dvw;
	/* margin-bottom: 5px; */
	margin-bottom: 0.2604dvw;
}

.card_input:hover>.card_input_text {
	transform: translate(-0.2604dvw, -0.2604dvw);
	filter: drop-shadow(0.2604dvw 0.2604dvw var(--accent-color));
	color: var(--accent-color)
}

.card_input:hover>.card_input_title {
	transform: translate(-0.2604dvw, -0.2604dvw);
	color: var(--accent-color)
}

.card_input_title:has(~ .card_input_text:focus, .card_input_text:active) {
	transform: none;
	filter: none;
	color: var(--accent-color);
}

.card_input_text {
	width: 18.88dvw;
	/* height: 50px; */
	height: 2.604dvw;
	/* border-radius: 12.5px; */
	border-radius: 0.651dvw;
	border: none;
	outline: none;
	background-color: var(--primary-color);
	/* padding-left: 15px; */
	padding-left: 0.7812dvw;
	font-size: 16pt;
	font-size: 1.093dvw;
	margin: 0dvw;
	transform: none;
}

.card_input_text:-webkit-autofill,
.card_input_text:-webkit-autofill:hover,
.card_input_text:-webkit-autofill:focus,
.card_input_text:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--primary-color) inset !important;
}

.card_input_title {
	margin: 0dvw;
	padding: 0dvw;
	font-size: 1.093vw;
	line-height: 1.093vw;
	/* font-size: 16pt; */
	color: var(--primary-color);
	-webkit-user-select: none;
	user-select: none;
	transition: 125ms;
}

.card_input_text:hover {
	filter: none;
	transform: none;
}

.card_input>.card_input_text:focus,
.card_input>.card_input_text:active {
	transform: none;
	filter: none;
}

.card_button {
	/* margin-top: 15px; */
	margin-top: 0.7812dvw;
	/* height: 50px; */
	height: 2.604dvw;
	width: 18.88dvw;
	border: none;
	/* border-radius: 12.5px; */
	border-radius: 0.651dvw;
}

.card_button_text {
	/* font-size: 24pt; */
	font-size: 1.6395dvw;
	margin: 0px;
}

.card_option_text {
	font-size: 1.6395dvw;
	margin: 0px;
	color: var(--font-color);
	transition: 125ms;
}

.card_option:hover>.card_option_text {
	color: var(--primary-color);
}

.card_button_descriptor {
	font-size: 1.093dvw;
	color: var(--primary-color);
	margin: 0px;
	text-align: center;
}

/* .card_option_seperator {
	display: flex;
	width: 18.88dvw;
	justify-content: center;
	align-items: center;
	margin-block: 1.302dvw;
}

.card_option_seperator_bar {
	height: 0.1562dvw;
	width: 3.906dvw;
	justify-self: flex-start;
	background-color: rgba(234, 241, 236, 0.15);
}

.card_option_seperator_bar:last-child {
	justify-self: flex-end;
}

.card_option_seperator_text {
	font-size: 1.093dvw;
	text-transform: uppercase;
	color: var(--accent-color);
	margin: 0px;
	margin-inline: auto;
} */

.card_option_seperator {
	display: flex;
	width: 18.88dvw;
	justify-content: center;
	align-items: center;
	margin-block: 1.302dvw;
	position: relative;
}

.card_option_seperator_bar {
	height: 0.1562dvw;
	/* width: 3.906dvw; */
	width: 18.88dvw;
	/* justify-self: flex-start; */
	background-color: rgba(234, 241, 236, 0.15);
	position: absolute;
}

.card_option_seperator_text {
	font-size: 1.093dvw;
	text-transform: uppercase;
	color: var(--accent-color);
	margin: 0px;
	/* margin-inline: auto; */
	position: absolute;
	background-color: var(--secondary-color);
	padding-inline: 10px;
}

.card_option {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18.88dvw;
	height: 2.604dvw;
	border-radius: 0.651dvw;
	border: none;
	background-color: var(--primary-color);

	margin-bottom: 0.7812dvw;
}

.card_option_icon {
	height: 1.562dvw;
	min-height: 1.562dvw;
	min-height: 1.562dvw;
	width: auto;
	/* margin-right: 30px; */
	margin-right: 1.562dvw;
}

.card_small {
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25.39dvw;
	/* height: 487.5px; */
	/* aspect-ratio: 2 / 3; */
	/* width: 325px; */
	width: 16.92dvw;
	/* border-radius: 25px; */
	border-radius: 1.302dvw;
	border: none;
	outline: none;
}

.card_small>span {
	/* width: 300px; */
	/* aspect-ratio: 1 / 1; */
	width: fit-content;
	font-size: 15.62dvw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card_mobile {
	width: 100%;
	height: 100%;
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr, 100px;
	padding: 10px;
	background-color: var(--secondary-color);
	border-radius: 25px;
}

.action_container {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	justify-self: flex-end;
	display: none;
	gap: 10px;
	width: 100%;
	height: 5rem;
}

.action_button {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	border: none;
	background-color: var(--primary-color);
	color: var(--accent-color);
	font-size: 36pt;
	display: flex;
	justify-content: center;
	align-items: center;
}

.action_button:has(.action_button_text_left) {
	padding-right: 10px;
}

.action_button:has(.action_button_text_right) {
	padding-left: 10px;
}

.action_button>h3 {
	margin: 0px;
	color: var(--accent-color);
	font-size: 1.5rem;
}

.action_button>span {
	font-size: 3rem;
}

.action_button_left>h3 {
	text-align: end;
	justify-self: flex-end;
}

.action_button_right>h3 {
	text-align: start;
	justify-self: flex-start;
}

@media only all and (max-aspect-ratio: 1) {
	.main {
		padding: 1rem;
		padding-bottom: 34pt;
	}

	.card_big {
		background-color: transparent;
		height: 100%;
		width: 100%;
		margin: 0px;
		padding: 0px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(7, max-content) 1fr;
		gap: 0.75rem;
		/* align-items: center; */
		justify-content: none;
	}

	.card_small {
		display: none;
	}

	.card_big>span {
		width: 100%;
		font-size: 20dvh;
		justify-content: center;
		align-items: center;
	}

	.card_text_main {
		width: 100%;
		font-size: 2em;
	}

	.card_input {
		width: 100%;
		height: max-content;
		margin: 0px;
	}

	.card_input_title {
		line-height: normal;
		height: max-content;
		font-size: 1em;
		color: var(--text-color);
	}

	.card_input_text {
		border-radius: 2em;
		font-size: 1.25em;
		height: max-content;
		width: 100%;
		padding: 0.5em;
		color: var(--text-color);
	}

	.card_button {
		width: 100%;
		height: max-content;
		margin: 0px;
		padding: 0.25rem;
		border-radius: 2em;
	}

	.card_button>h3 {
		font-size: 2rem;
	}

	.card_option {
		width: 100%;
		height: max-content;
		border-radius: 2rem;
		margin-bottom: 0.5rem;
	}

	.card_oauth_providers {
		width: 100%;
	}

	.card_option_icon {
		height: 1.5rem;
	}

	.card_option_text,
	.card_button_text {
		font-size: 2rem;
	}

	.card_option_seperator {
		width: 100%;
	}

	.card_option_seperator_bar {
		width: 90%;
		height: 0.25rem;
		border-radius: 0.125rem;
	}

	.card_option_seperator_text {
		background-color: var(--background-color);
		color: var(--text-color);
		font-size: 1em;
	}


	.action_container {
		display: flex;
		align-self: flex-end;
		grid-row: 8 / 9;
	}
}